<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datatypes</title>
</head>
<body>
    <form method="POST", action="/datatypes">
        <table>
            <tr>
                <th>Column</th>
                <th>Datatype</th>
            </tr>
            
            {% for item in data %}
            <tr>
                <td>{{item.column}}</td>
                <td>
                    <input type="text" value={{item.datatype}} name="datatype_from_form">
                </td>
            </tr>                        
            {% endfor %}
        </table>       
        <input type="submit" value="Finalise datatypes">
    </form>
</body>
</html>