<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imputation</title>
</head>
<body>
    <form method="POST", action="/impute">
    <table>
        <tr>
            <th>Column</th>
            <th>No. of missing values</th>
            <th>Type of imputation</th>
        </tr>
        
        {% for item in data %}
        <tr>
            <td>{{item.column}}</td>
            <td>{{item.null_count}}</td>
            <td>
            <label for="imputetype">Choose type of imputation</label>
            <select name="imputetype" id="imputetype">
            <option value="mean">Mean</option>
            <option value="mode">Mode</option>
            <option value="median">Median</option>
            <option value="ffill">Forward-fill</option>
            <option value="bfill">Back-fill</option>
            <option value="row_removal">Row removal - any column is null</option>
            <option value="put_zero">Put zero</option>
            <option value="mice">MICE</option>
            <option value="knn">KNN</option>
            </select>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <input type="submit" value="Submit">
        
    </form>

    
</body>
</html>