<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preprocessing</title>
</head>
<body>
    <a href ="{{url_for('impute')}}">Impute missing values</a><br>
    <a href ="{{url_for('standardize')}}">Standardization</a><br>
    <a href ="{{url_for('encoding')}}">Encoding categorical features</a><br>
    <a href ="{{url_for('binning')}}">Binning numerical features</a><br>
    <!-- Feature extraction -->
    <!-- Feature selection -->

</body>
</html>